* {
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", serif;
}

header {
  position: relative;
}

.header-padding,
.main-padding {
  padding: 20px;
}

.header-alignment {
  text-align: center;
  background-color: bisque;
  padding: 40px 75px;
}

.inline {
  display: inline;
}

.article-heading {
  position: relative;
  left: -15px;
}

.badge {
  background-color: cadetblue;
  border: 3px solid black;
  padding: 5px;
  display: inline-block;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
}

.article {
  padding: 0 45px 0 45px;
}

article + article {
  margin-top: 70px;
  border-top: 3px solid gray;
}

nav a {
  margin-left: 15px;
  color: blueviolet;
}

article > p::after {
  content: "🤖";
}

a:hover {
  color: cornflowerblue;
}

a:active {
  color: red;
}

::selection {
  background-color: black;
  color: blanchedalmond;
}
