* {
  box-sizing: border-box;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

html {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", serif;
}

.header-padding,
.main-padding {
  padding: 20px;
}

.header-alignment {
  text-align: center;
  background-color: bisque;
  padding: 40px 75px;
}
